@import '../../assets/styles/colors.scss';

.debug-that-form {
  color: $accent;
  font-size: 0.8rem;
  padding: 1rem;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 40vw;

  * {
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 800px) {
    max-width: 95vw;
  }
}