@import './assets/styles/eric-meyer-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');
@import './assets/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "~@progress/kendo-theme-material/dist/all.scss";
// ALYSSA TODO: import custom theme

@import "~@progress/kendo-theme-material/scss/dropdownlist/_index.scss";


* {
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  font-size: 14px; // for my rems
}

body {
  margin: 1rem;
  font-family: Roboto, sans-serif;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  color: $accent;
  font-size: 4.2rem;
}

h2 {
  font-size: 2.5rem;
}

h1, h2, p {
  margin-bottom: 1rem;
}

section h1 {
  font-size: 1.1rem;
}
